<h1>Welcome to CSE Motors</h1>

<section class="hero-page">
    <div id="hero">
        <div class="hero-image">
            <img src="/images/vehicles/delorean.jpg" alt="delorean car" width="700px" height="350px" loading="lazy">
        </div>
        <div class="hero-box">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice</p>
            <img src="/images/site/own_today.png" alt="own today" width="241px" height="72px" loading="lazy">
        </div>
    </div>
</section>

<section class="review-upgrade">
    <div>
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">

            <div class="upgrade-item">
                <div class="upgrade-image">
                    <img src="/images/upgrades/flux-cap.png" alt="flux-cap" width="65" height="65" loading="lazy">
                </div>
                <a href="#">Flux Capacitor</a>
            </div>

            <div class="upgrade-item"> 
                <div class="upgrade-image">
                    <img src="/images/upgrades/flame.jpg" alt="flame" width="65" height="65" loading="lazy">
                </div>
                <a href="#">Flame Decals</a>
            </div>

            <div class="upgrade-item">
                <div class="upgrade-image">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker" width="65" height="65" loading="lazy">
                </div>
                <a href="#">Bumper Stickers</a>
            </div>

            <div class="upgrade-item">
                <div class="upgrade-image">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap" width="65" height="65" loading="lazy">
                </div>
                <a href="#">Hub Caps</a>
            </div>

        </div>
    </div>

    <div class="review">
        <h2>DMC Delorean Review</h2>
        <ul class="review-list">
            <li> <span class="dot-symbol">&#11044;</span> "So fast it's almost like traveling in time." (4/5)</li>
            <li> <span class="dot-symbol">&#11044;</span> "Coolest ride on the road." (4/5)</li>
            <li> <span class="dot-symbol">&#11044;</span> "I'm feeling McFly!" (5/5)</li>
            <li> <span class="dot-symbol">&#11044;</span> "The most futuristic ride of our day." (4.5/5)</li>
            <li> <span class="dot-symbol">&#11044;</span> "80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</section>
